* {
  box-sizing: border-box;
}
body{
  background: #f8f8f8;
}
.top-img {
  display: block;
  margin: 40px auto;
}

a {
  color: #2c3e50;
  text-decoration: none;
  cursor: pointer;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
.form-control.inline-block{
  display: inline-block;
  width: auto;
}
.btn {
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.f-tc{
    text-align: center;
}
.books{
  max-width: 1080px;
  text-align: center;
  margin: 20px auto 50px;
  border: 1px solid #bbb;
  background: #f8f8f8;
  padding-bottom: 20px;
}
.books ul{
  overflow: hidden;
  padding: 0 20px;
  text-align: left;
}
.books li {
  width: calc((100% - 40px) / 3);
  position: relative;
  vertical-align: top;
  overflow: hidden;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0;
  margin-right: 20px;
  border-bottom: 1px solid #ccc;
  font-size: 14px;
}
.books li:nth-child(3n) {
    margin-right: 0;
}
.books li a{
  display: block;
  padding: 0;
  font-size: 14px;
  height: 100%;
  line-height: 36px;
  background: none;
}
.aside{
  position: fixed;
  top: 350px;
  left: 50%;
  margin-left: 570px;
  text-align: center;
} 
.aside a{
  display: block;
  padding: 10px 0;
  border-bottom: 1px dashed;  
}
.aside a:hover{color: #154298;}
.aside a:last-child{border-bottom: 0;}

.txt-chapter{line-height: 1.8;}
.txt-chapter p{margin-top: 0;margin-bottom: 5px;}
.txt-chapter .til{text-align: center;}





@media screen and (max-width: 1080px) {
  .chapter{padding: 0 1rem;}
  .books li{width: calc((100% - 20px) / 2);}
  .books li:nth-child(3n) {margin-right: 20px;}
  .books li:nth-child(2n) {margin-right: 0;}
  .aside{position: static;margin-left: 0;margin-top: 10px;}
  .aside a{background: #6b6c70;color: #fff;margin-bottom: 10px;border-bottom: 0;}
  .aside a:hover{color: #fff;}
} 